body{
    overflow-x:hidden;
}
.nav{
    height: 40px;
    background: black;
    width: auto;
}
ul.navTop a {
    text-decoration: underline;
}
ul.navTop a:hover{
    color:white;
}
ul.navSec a{
    text-decoration: underline;
}
ul.navSec a:hover{
    color:rgb(37, 37, 83) !important;
    font-size:large;
}
.navRight{
    float:right;
}
.navText{
    color: white;
    margin-top:-4px;
}
.navbar{
    background-color: black;
    height: 85px;

}

.navbarText{
    color:black;
}

/* .noMarginBottom{
    margin-bottom: -28px;
} */
/* h5, h4{
    font-size:3vw;
} */
.jumbotron {
    width: auto;
    height: 500px;
    background-image:url('/img/jumbo6.PNG');
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  #loginButton{
      background-color:black;
  }



#noUnderLine{
    text-decoration: none;
}
#gotoTop{
    background: black;
}

ul.footerList li a{
    
    color:black;
    text-decoration: underline;
    font-weight:bold;
}

#basket {
    display: inline-block;
    width:20px;
    height: 15px;
    margin-right: 22px;

}
.floatRight{
    float:right;
}

