body{
    overflow-x:hidden;
}
.nav{
    height: 40px;
    background: black;
    width: auto;
}
ul.navTop a:hover{
    color:white;
}
ul.navSec a:hover{
    color:rgb(37, 37, 83) !important;
    font-size:large;
}
.navRight{
    float:right;
}
.navText{
    color: white;
    margin-top:-4px;
}
.navbar{
    background-color: pink;
    height: 85px;

}

.navbarText{
    color:black;
}

/* .noMarginBottom{
    margin-bottom: -28px;
} */

.jumbotron {
    width: auto;
    height: 500px;
    background-image:url('/img/jumbo6.PNG');
    background-repeat: no-repeat;
    background-size: cover;
   
  }



#noUnderLine{
    text-decoration: none;
}
#gotoTop{
    background: black;
}

ul.footerList li{
    background-color:#f8f9fa;
}